* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #004643;
}


/*** navbar ***/

nav {
  background-color: #f9bc60;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav a {
  color:#001e1d;
  text-decoration: none;
  margin-right: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem;
}

nav a:hover {
  background-color: #fca311;
}

/*** title ***/

.title {
  color: whitesmoke;
  font-size: 2.5rem;
  font-weight: 700;
}

/*** container ***/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*** formulario ***/

.formulario {
  color:white;
  display:flex;
  flex-direction: column;
  max-width: 80%;
  min-width: 40%;
}

.formulario__label {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.formulario__input {
  padding: 0.8rem 1rem;
  margin: 0.5rem 0;
  border: solid 1px white;
  border-radius: 20px;
  color: #fca311;
  font-size: 1rem;
  box-sizing: border-box;
}

.formulario__input:focus {
  border: solid 3px #fca311;
  outline: none;
  transition: ease-in 0.3s;
}

.formulario__input::placeholder {
    color: lightgray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  .formulario__input--date {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .formulario__select {
    /* appearance: none; */
    padding: 1rem 1rem;
    border: none;
    border-radius: 30px;
    outline: none;
    color: #fca311;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .formulario__checkbox-container {
    margin: 0.8rem 0 0;
    display: flex;
    align-items: center;
  }
  
  .formulario__checkbox {
    appearance: none;
    background-color: white;
    border: solid 1px white;
    padding: 0.7rem;
    margin-left: 0.8rem;
    border-radius: 3px;
    position: relative;
  }
  
  .formulario__checkbox:checked {
    background-color: #fca311;
    border: solid 1px #fca311;
  }
  
  .formulario__checkbox:checked::after {
    content: "\2713";
    font-size: 1rem;
    position: absolute;
    top: 1px;
    left: 5px;
    color: #252628;
  }
  
  .formulario__textarea {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    height: auto;
    padding: 1rem 1.2rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 2px white;
    font-size: 1rem;
    resize: none;
  }
  
  .formulario__textarea::placeholder {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    color: lightgrey;
  }
  
  .formulario__textarea:focus {
    outline: none;
  }
  
  .formulario__btn-submit {
    background-color: #fca311;
    color: #001e1d;
    width: 100px;
    border: none;
    border-radius: 25px;
    padding: 1rem 2rem;
    margin: 2rem auto;
    cursor: pointer;
  
}

